*{
    margin: 0%;
    padding: 0%;
}

header {
    height: 20%;
    background:linear-gradient(to bottom, #68ee68, #128612, #077a07);
    padding: 40px;
}
    .h1cabeca {
        text-align:center;
        color: #dbf3db;
    }  
    header > p {
        text-align: center;
        color: aliceblue;
        padding: 5px;
    }

    div#nav {
    
        background-color: #046604;

    }
    #nav > p {
        display:inline-block;
        padding: 5px;
        color: aliceblue;
    
    }

    body {
        background-color: #dde29a;
        width: 100%;
        
    }
    section {

        
        background-color: #dbf3db;

        width:80%;
        
        height: max-content;

        

        padding:1px;
        margin:-0% 10% 0% 10% ;
    }


    ul {
        background-color: aquamarine;

        margin: 5px auto 10px 30px; 
    }

    
p {
    
    text-align:left;

    padding-bottom:2px ;
    padding-left: 20px;

}
 .divs {
    margin-left: 1%;
    margin-right: auto;
    margin-top: 5px;
 }
