*{
    margin: 0%;
    padding: 0%;
}

header {
    height: 20%;
    background:linear-gradient(to bottom, #68ee68, #128612, #077a07);
    padding: 40px;
}

header > h1 {
    text-align: center;
    color: aliceblue;
    
}  
header > p {
    text-align: center;
    color: aliceblue;
    padding: 5px;
}

 div#nav {
   
    background-color: #046604;

}
#nav > p {
    display:inline-block;
    padding: 5px;
    color: aliceblue;
   
}

body {
    background-color: #dde29a;
    
}
section {
    background-color: #dbf3db;

    width: max-content;
    height: auto;

    

    padding: 0;
    margin:0% 10% 0% 10% ;
}

/* #divsec2 > li {

    text-align: left;
    padding-left: 2% ;
}

#divsec1 > li {

    text-align: left;
    margin: 0px 5px 10px 5px ;
} */

ul {
    background-color: aquamarine;

    margin: 5px auto 10px 30px; 
}

